<div class="row-fluid eaton-controls" id="connection_plugin_eatonups">
    <button class="btn btn-primary span6" data-bind="click:function(){$data.upsPower('on');}"><span>Power On</span></button>
    <button class="btn btn-danger span6" data-bind="click:function(){$data.upsPower('off');}"><span>Power Off</span></button>
</div>